<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>타입</th>
                <th>크기</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="beverage : ${beverages}">
                <td th:text="${beverage.id}"></td>
                <td th:text="${beverage.name}"></td>
                <td th:text="${beverage.price}"></td>
                <td th:text="${beverage.type}"></td>
                <td th:text="${beverage.size}"></td>
                <td>
                    <a href="#" th:href="@{/beverages/{id}/edit (id=${beverage.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <a href="#" th:href="'javascript:cancel('+${beverage.id}+')'" class="btn btn-danger">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
 function cancel(id) {
 var form = document.createElement("form");
 form.setAttribute("method", "post");
 form.setAttribute("action", "/beverages/" + id + "/cancel");
 document.body.appendChild(form);
 form.submit();
 }
</script>
</html>